

/* colours */
.darkTwo{
    background-color: #2b3743;
}
.darkOne{
    background-color: #202d36;
}

.darkOne-c{
    background-color: #fafafa;
}

.darkTwo-c{
    background-color: #ffffff;
}


/* mood */
.mood{
    cursor: pointer;
}

.d-mood{
    display: visible;
}
.l-mood{
    display: none !important;
}

.l-mood-v{
    display: flex !important;
}

.d-mood-h{
    display: none !important;
}


/* view ports */
.headerView{
    height: 10vh;
}





/* text weights */
.text-md{
    font-weight: 600;
}

/* width */
.w-150{
    width: 170%;
}
.pl-s{
    padding-left: 50px;
}

/* pseudo styles */
::placeholder{
    color: white;
}

.white{
    color: white;
}

.black{
    color: #1e2b34;
}

.sel{
    border: none;
    outline: none;
}

.drop{
    cursor: pointer;
}

.droplist{
    visibility: hidden;
}

.droplist-v{
    visibility: visible !important;
    z-index: 10 !important;
}

.listItems:hover{
    background: #1e2b34;
}

card-width{
    width:18rem;
}
.card-width{
    display: flex;
}

/* responsive */
@media (max-width:640px){
    .sml{
        display: flex;
        justify-content: center !important;
    }

    .res{
        width: 50%;
        margin-left: 3%;
        padding: 3% !important;
    }

    

}
@media (max-width:990px){
   

    .res{
        width: 50%;
        margin-left: 2%;
        padding: 2%;
    }
    
    .res2{
        width: 25%;
        margin-left: 3%;
        padding: 3% !important;
    }

}

/* more */
.heroImg{
    height: 350px;
    width:100%;
}
